.main-container {
    background-color: var(--c-dark-theme);
}

.main-row {
    background-color: var(--c-light-theme);
}

.main-column-header {
    height: 10%;
    background-color: var(--c-dark-theme);
}

.main-column-body {
    height: 80%;
    border-top: 10px solid var(--c-border);
    border-bottom: 10px solid var(--c-border);
}

.main-column-footer {
    height: 10%;
    background-color: var(--c-dark-theme);
}


.main-link-style:hover {
    text-decoration: none;
}

.image-tile {
    width: 100%; 
    border-radius: 20px;
}

.image-tile:hover {
    transform: scale(1.01);
    transition: 0.3s;
    cursor: pointer;
}